.cycle {
  position: relative;
  background: cyan; /*cycle window color*/
  width: 5px; /*cycle window width*/
  height: 5px; /*cycle window height*/
  margin: 30px 0 20px 50px; /*Margins for lightcycle*/
  border-radius: 0 25% 25% 0; /*rounds the front of the light cycle squares*/
  box-shadow: .03em .13em 0 .4px blue, /*blue shadow to the windshield*/
    0 0 0 6px black,/*first black body part*/
    0 -.6em 0 .2px cyan/*tire left side*/,
    0 .6em 0 .2px cyan/*tire right side*/,
    -1em 0 0 6px black/*black middle body for lightcycle*/,
    -1.5em 0 0 2.5px tan/*Drivers head*/,
    -1.8em 0 0 3.5px blue/*Drivers helment*/,
    -1em .5em 0 .5px tan/*Drivers right hand*/,
    -1em -.5em 0 .5px tan/*Drivers left hand*/,
    -1.5em 0 0 6px black /*black body driver seat*/,
    -1.5em 0 0 8px blue/*blue body/arms of driver*/,
    0 0 0 8px blue/*blue body/arms of driver*/,
    -1.8em 0 0 6px black/*body behind the driver*/,
    -1.7em 0 0 8px cyan/*rear tires*/;
}