//*------------*\
//#Variables
//*------------*/
$containercolor: teal;

/*------------*\
#Body
\*------------*/

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

html,
body {
    height: 100%;
}