/*------------*\
#Import
\*------------*/

@use "settings" as s;





/*------------*\
#Body
\*------------*/

body {
    display: flex;
    font-family: s.$cartfont;
    padding: 40px;
    justify-content: center;
}