//*------------*\
//#Variables
//*------------*/
$cartfont: helvetica, arial, sans-serif;
$promocolor: green;
$cartcolor: #ddd;
$shadowcolor: #7b7b7b;
$darkshadow: #555;
$hoverbackground: #333;
$bordercolor: #eee;
