/*--------------------*\
#Body
\*--------------------*/

body {
  padding: 50px;
  font-family: sans-serif;
  background: linear-gradient(to right, #F93D66, #6D47D9);
}





/*--------------------*\
#Header
\*--------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0 0 5px 0;
}





/*--------------------*\
#paragraph
\*--------------------*/

p {
  margin: 0 0 20px 0;
}





/*--------------------*\
#Close button
\*--------------------*/

/*Closed button css for closing imgs.*/
.close {
  background: none;
  color: black;
  border: 0;
}





/*--------------------*\
#Gallery
\*--------------------*/

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
}