/*--------------------*\
#Items
\*--------------------*/

.item {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;

  img {
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    grid-column: 1/-1;
    grid-row: 1/-1;
    background: #ffc60032;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: 0.7s;
    transform: translateY(100%);

    button {
      background: none;
      border: 2px solid white;
      color: white;
      text-transform: uppercase;
      background: rgba(0, 0, 0, 0.7);
      padding: 5px;
    }
  }

  /*Verticle span for grid images*/
  &.v2 {
    grid-row: span 2;
  }

  &.v3 {
    grid-row: span 3;
  }

  &.v4 {
    grid-row: span 4;
  }

  /*Horizontal span for grid images*/
  &.h2 {
    grid-column: span 2;
  }

  &.h3 {
    grid-column: span 3;
  }

  &.h4 {
    grid-column: span 4;
  }
}

.item:hover .item__overlay {
  transform: translateY(0);
}