.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;

  &.open {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  figure {
    background: white;
    width: 700px;
    padding: 20px;
  }

  &-inner {
    background: white;
    width: 700px;
    padding: 20px;
  }

  img {
    width: 100%;
  }
}