//--------------------*\
//#Import
//--------------------*/

@use "global" as global;





/*--------------------*\
#Preview
\*--------------------*/

.preview {
  display: grid;
}





/*--------------------*\
#Settings
\*--------------------*/

.settings {
  padding: 5px;
  background: global.$codepenGrey;
  border-top: 1px solid grey;
}