//--------------------*\
//#Import
//--------------------*/

@use "global" as global;





/*--------------------*\
#about
\*--------------------*/

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
  grid-gap: 20px;

  h2{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    align-items: center;

    &:before,
    &:after {
      display: block;
      content: '';
      height: 10px;
      background: linear-gradient(to var(--direction, left), global.$tacosYellow, transparent);
    }

    &:after {
      --direction: right;
    }
  }

  img {
    width: 100%;
  }
}