/*Base/small CSS for webpage*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

    body{
        font-family: Helvetica, Arial, Sans-serif;
        margin: 0;
        padding: 10px;
        font-size: 1rem;
    }

    h1, h2, nav {
        font-family: "Lora";
    }

/*Header CSS*/
    header h1 {
        font-size: 3.75rem;
        text-align: center;
        margin: 0;
        padding: .5rem 1rem;
    }

/**Navigation CSS**/    
    
    nav{
        border-top: 2px solid #d0d0d0;
        border-bottom: 2px solid #d0d0d0;
        
    }

    nav ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        padding: 0;
        margin: 0;
    }

    nav ul li a, nav ul li a:visited {
        text-transform: uppercase;
        color: #33333395;
    }

   nav ul li a:hover { 
        color: #00ddff;
        text-decoration: none;
    }

    nav ul li a:active {
        color: #DEB887;
        text-decoration: none;
    }

/**Hyperlink decoration removal**/
    a {
        text-decoration: none;
        color: inherit;
    }

/*Main section CSS*/
    main {
        
    }

/*Post-Content CSS*/
    section {
        border-top: 2px solid #d0d0d0;
        border-bottom: 2px solid #d0d0d0;
    }

    .post-content {
        padding-left: 10px;
    }

    .post-content a{
        color: #33333395;
    }

    .post-content a:hover { 
        color: #00ddff;
        text-decoration: none;
    }

    .post-content figure{
        margin: 0;
    }

    .post-content figure img {
        display: block;
        margin-inline: auto;
        max-width: 100%;
        height: auto;
    }

/*Post-date CSS*/
    .post-date {
        text-align: right;
        padding-right: 10px;
    }

/*Breakpoint for large viewport css*/
@media only screen and (min-width: 56.25em ) {

    body {
        font-size: 1.75rem;
    }

    header h1{
        font-size: 5rem;
    }

    nav ul{
        display: grid;
        grid-row: 1;
        grid-auto-flow: column;
        justify-content: end;
        align-items: center;
        gap: 1.5rem;
    }

    nav ul li{
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    main {
        padding-top: 20px;
    }
    
    article {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    section {
        border-top: none;
        border-left: 2px solid #d0d0d0;
    }

    .post-date {
        grid-column: 1/2;
        padding-left: 20px;
    }

    .post-content {
        grid-column: 2/4;
    }

}
